@{
    ViewData["Title"] = "Pizzeria";
    Layout = "_Pizzeria";
}
@model IEnumerable<Pizza>

 @{
    if(Model == null || !Model.Any())
    {
        <div>
            Nessuna Pizza presente
        </div>
    }
    else
    {
        <div class="row">
            @foreach (var pizza in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm d-flex justify-content-center">
                        <div id="@pizza.Nome" class="pizza-card">
                            <img class="card-img-top w-75" src="@pizza.Immagine" alt="Immagine Pizza">
                            <div class="card-body">
                                <h4 class="card-title">@pizza.Nome</h4>
                                <p class="card-text">@pizza.Descrizione</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a asp-action="Detail" asp-controller="Pizza" asp-route-id="@pizza.Id" class="btn btn-primary">Dettagli</a>
                                        <a asp-action="Edit" asp-controller="Pizza" asp-route-id="@pizza.Id" class="btn btn-warning">Modifica</a>
                                        <form asp-action="Delete" asp-controller="Pizza" asp-route-id="@pizza.Id" method="POST">
                                            @Html.AntiForgeryToken()
                                            <button type="submit" class="btn btn-danger">Elimina</button>
                                        </form>
                                        <button type="button" class="btn btn-success">Aggiungi al Carrello</button>
                                    </div>
                                    <small class="text-muted">Prezzo: € @pizza.Prezzo</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>       
    }
} 